<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Hello-world-v2</title>
</head>
<body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
      <p class="h3 my-0 mr-md-auto fw-normal">MANEXIN</p>
    </header>
    {% block body %}{% endblock %}
  <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Andersen DevOps course</h1>
		<h1 class="display-4">Hello world Exam</h1>
    <h1 class="display-4">Hello world Andersen-ofice</h1>
        </div>
  </div>
  <footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/static/logo.jpg" alt="" width="40" height="30">
        <small class="d-block mb-3 text-muted">© 2020–2021</small>
      </div>
    </div>
  </footer>
</body>
</html>
